<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>NESTED-IF conditions</h1>

        {% if a > b %}
           {% if a > c %}
              <h2>print a is greater </h2>
            {% else %}
               <h2>print c is greater</h2>
            {% endif %}
        {% else %}
            {% if b > c %}
               <h2>b is greater </h2>
            {% else %}
               <h2> c is greater</h2>
            {% endif %}
        {% endif %}

        
    </center>

    
</body>
</html> 